@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Euclid Circular A';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
  cursor: pointer;
}

img {
  display: block;
}

ul {
  list-style: none;
}
